@using NetCoreBBS.ViewComponents
@{ 
    var resourceMgr = NetCoreBBS.Resources.Resources.ResourceManager;
}
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">.NET Core 跨平台论坛介绍</h3>
    </div>
    <div class="panel-body">
        .NET Core @resourceMgr.GetString("Development")<br />
        VS Code @resourceMgr.GetString("Or") VS 2017<br />
        @resourceMgr.GetString("MoreDetails")：<a href="http://dot.net" target="_blank">dot.net</a><br />
        <h3>@resourceMgr.GetString("Introduction")：</h3>
        @resourceMgr.GetString("SystemDevelopment")：<br />
        ASP.NET Core + EF Core Sqlite + Bootstrap <br />
        @resourceMgr.GetString("OperatingEnv")：<br />
        Ubuntu 14.04 + Kestrel <br /><br />
        @resourceMgr.GetString("Blog")：
        <a href="http://www.cnblogs.com/linezero/" target="_blank">
            LineZero's Blog
        </a><br />
        GitHub：
        <a href="https://github.com/linezero/NETCoreBBS" target="_blank">
            NETCoreBBS
        </a><br />
        @resourceMgr.GetString("ServerTime")：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
    </div>
</div>
@(await Component.InvokeAsync<TopicRankList>(new { days = 30 }))
@(await Component.InvokeAsync<Statistics>())