@{
    var resourceMgr = NetCoreBBS.Resources.Resources.ResourceManager;
    ViewData["Title"] = resourceMgr.GetString("HomeIndexTitle");
    var list = ViewBag.Topics as List<TopicViewModel>;
    var user = ViewBag.User as User;
    var nodes = ViewBag.Nodes as List<TopicNode>;
}

@model Topic

<div class="row">
    <div class="col-md-9 topics">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-right">
                    <span class="l">@resourceMgr.GetString("ShortcutList"):</span>
                    <a href="#" class="active">@resourceMgr.GetString("ActiveNode")</a> /
                    <a href="#" class="popular">@resourceMgr.GetString("PopularNode")</a> /
                    <a href="#">@resourceMgr.GetString("NobodyCaresNode")</a> /
                    <a href="#">@resourceMgr.GetString("NewNode")</a>
                </div>
            </div>
            <div class="panel-body">
                @foreach (var item in list)
                {
                    <div class="topic">
                        <div class="avatar media-left">
                            <a href="#"><img class="avatar-48" src="~/images/96.png" alt="96"></a>
                        </div>
                        <div class="media-body">
                            <div class="title">
                                <a asp-controller="Topic" asp-action="Index" asp-route-id="@item.Id">
                                    @(item.Top==1?"[" + resourceMgr.GetString("Sticky") + "]":"")@item.Title
                                </a>
                            </div>
                            <div class="info">
                                <a href="/topic/node/@item.NodeId">@item.NodeName</a> 【<label>@item.Email</label>】@resourceMgr.GetString("PostedOn") @item.CreateOn.ToString("MM-dd HH:mm")
                                @if (item.LastReplyTime != DateTime.MinValue)
                                {
                                    <label>@resourceMgr.GetString("LastReply") @item.LastReplyTime.ToString("MM-dd HH:mm")</label>
                                }
                            </div>
                        </div>
                        <div class="count media-right">
                            @if (item.ReplyCount > 0)
                            {
                                <a class="state-false" href="/Topic/@item.Id#reply@(item.ReplyCount)">@item.ReplyCount</a>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="panel-footer clearfix">
                @Html.Partial("_PagerPartial",ViewData)
            </div>
        </div>
        <div class="panel panel-default" style="padding:15px">
            <form class="form-horizontal" method="post" asp-controller="Home" asp-action="Index">
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-2 control-label">@resourceMgr.GetString("Thread")</label>
                    <div class="col-sm-10">
                        <select asp-for="NodeId" asp-items="ViewBag.NodeListItem" class="form-control">
                            <option value="0">@resourceMgr.GetString("SelectThread")</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @if (user == null)
                    {
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" required asp-for="Email">
                        </div>
                    }
                    else
                    {
                        <input type="hidden" asp-for="UserId" value="@(user.Id)" />
                        <input type="hidden" asp-for="Email" value="@(user.Email)">
                    }
                </div>
                <div class="form-group">
                    <label for="inputTitle" class="col-sm-2 control-label">@resourceMgr.GetString("Subject")</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputTitle" placeholder="@resourceMgr.GetString("EnterSubject")" required asp-for="Title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@resourceMgr.GetString("Body")</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="10" asp-for="Content" placeholder="@resourceMgr.GetString("EnterBody")" id="editor" data-provide="markdown"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">@resourceMgr.GetString("Submit")</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="sections" class="panel panel-default">
            <div class="panel-heading">@resourceMgr.GetString("FooterPanelHeading")</div>
            <div class="panel-body">
                <div class="row node-list">
                    @foreach (var item in nodes.Where(r => r.ParentId == 0).OrderBy(r => r.Order))
                    {
                        <div class="node media">
                            <label class="media-left">@item.Name</label>
                            <span class="nodes media-body">
                                @foreach (var n in nodes.Where(r => r.ParentId == item.Id).OrderBy(r=>r.Order))
                                {
                                    <span class="name"><a title="@n.Name" href="/topic/node/@n.NodeName">@n.Name</a></span>
                                }
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @Html.Partial("_SidebarPartial")
    </div>
</div>